[submodule "0x11-printf"]
	path = 0x11-printf
	url = https://github.com/MohamedAbd-elrady/printf.git

[submodule "0x16-Simple_Shell"]
	path = 0x16-Simple_Shell
	url = https://github.com/MohamedAbd-elrady/simple_shell.git
